## Individual Coding Exercise

Create a Python function called `check` that will check if the number of "X's" in a string called `word` equals the number of "O's".

Example 1:
```
Input -> "XOOX"
Return -> True
Reason -> There are 2 X's and 2 O's.
```

Example 2:
```
Input -> "XXOOOX"
Return -> True
Reason -> There are 3 X's and 3 O's.
```

Example 3:
```
Input -> "XOX"
Return -> False
Reason -> There are 2 X's and 1 O.
```

Example 4:
```
Input -> "XXOOOOXX"
Return -> True
Reason -> There are 4 X's and 4 O.
```

Keep time complexity in mind after creating an initial solution

In [ ]:
word1 = "XOOX"
word2 = "XXOOOX"
word3 = "XOX"
word4 = "XXOOOOXX"

# write code here
def check(word):
    pass


# this should print out true
print(check(word1) == True)
print(check(word2) == True)
print(check(word3) == False)
print(check(word4) == True)

## Additional Challenge

Another requirement we can check is if a string has an equal amount of X's and O's and if its a palindrome. That is, reading it forwards results in the same string as reading it backwards.

Create a Python function called `check2` that will check if the number of "X's" in a string called `word` equals the number of "O's" AND it is a palindrome.

This changes a few test-cases. For example while `word2` does have an equal amount of X's and O's it is not a palindrome, so therefore we return false.

Example 1:
```
Input -> "XOOX"
Return -> True
Reason -> There are 2 X's and 2 O's, and it is a palindrome.
```

Example 2:
```
Input -> "XXOOOX"
Return -> False
Reason -> There are 3 X's and 3 O's, but it is not a palindrome.
```

Example 3:
```
Input -> "XOX"
Return -> False
Reason -> There are 2 X's and 1 O.
```

Example 4:
```
Input -> "XXOOOOXX"
Return -> True
Reason -> There are 4 X's and 4 O, and it is a palindrome.
```

Keep time complexity in mind after creating an initial solution.

In [4]:
word1 = "XOOX"
word2 = "XXOOOX"
word3 = "XOX"
word4 = "XXOOOOXX"

# write code here
def check2(word):
    pass

# these all should print out true
print(check2(word1) == True)
print(check2(word2) == False)
print(check2(word3) == False)
print(check2(word4) == True)

True
True
True
True

## Dataset

Find Netflix movie rankings dataset
* Located in `data` folder of `week_2`
* Labeled imdb_processed.csv

Specifically, we will focus on the following analyses:
* Is the count of movies increasing or decreasing over the years?
* Did ratings of movies increase or decrease from 92 - 94?

In [1]:
import pandas as pd

df = pd.read_csv("../data/imdb_processed.csv", index_col=0)
df.head()

,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
index,,,,,,,,,,,,,
0,Dinosaur Planet,2003,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,Get Up and Dance!,1994,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,83.0
2,8 Man,1992,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jir√¥ Kuwata', 'Junko Suzuki']",NaN
3,What the #$*! Do We (K)now!?,2004,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.0
4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0

## Filtering

To start we must ‚Äúfilter‚Äù our data to only include rows that describe ‚Äúmovies.‚Äù We‚Äôre throwing nuance out the window and omitting ‚Äútv movies‚Äù or ‚Äúvideo movies‚Äù 

Namely, we can create an array of boolean values (T or F) by checking for the equality or inequality in a certain column.

Firstly, what is the name of the feature that describes if something is a movie or a tv-show or something else.

Next, we will simply use our equality (==) operator to check if a row in the ‚Äúkind‚Äù column describes a ‚Äúmovie‚Äù.

By writing this filter within our square brackets of `df` we get a new dataframe that describes rows where our boolean is True. AKA where we have a row where the column of ‚Äúkind‚Äù is movie

In [50]:
df["kind"] == "movie"

index
0       False
1       False
2        True
3        True
4        True
        ...
8446     True
8447    False
8448    False
8449     True
8450     True
Name: kind, Length: 8451, dtype: bool

In [60]:
movies = df[df["kind"] == "tv series"]
movies

,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
index,,,,,,,,,,,,,
2,8 Man,1992,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jir√¥ Kuwata', 'Junko Suzuki']",NaN
3,What the #$*! Do We (K)now!?,2004,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.0
4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0
9,Seeta Aur Geeta,1972,movie,"['Adventure', 'Comedy', 'Drama', 'Family', 'Mu...",6.8,1818.0,['India'],['Hindi'],"['Dharmendra', 'Sanjeev Kumar', 'Hema Malini',...",['Ramesh Sippy'],['Rahul Dev Burman'],"['Javed Akhtar', 'Javed Akhtar', 'Satish Bhatn...",15.0
17,Zatoichi's Conspiracy,1973,movie,"['Action', 'Drama']",7.1,911.0,['Japan'],['Japanese'],"['Shintar√¥ Katsu', 'Yukiyo Toake', 'Eiji Okada...",['Kimiyoshi Yasuda'],['Akira Ifukube'],"['Yoshi Hattori', 'Kan Shimozawa']",92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8444,Interiors,1978,movie,['Drama'],7.4,19143.0,['United States'],['English'],"['Kristin Griffith', 'Mary Beth Hurt', 'Richar...",['Woody Allen'],NaN,['Woody Allen'],NaN
8445,Shakespeare in Love,1998,movie,"['Comedy', 'Drama', 'History', 'Romance']",7.1,218921.0,"['United States', 'United Kingdom']",['English'],"['Geoffrey Rush', 'Tom Wilkinson', ""Steven O'D...",['John Madden'],['Stephen Warbeck'],"['Marc Norman', 'Tom Stoppard']",NaN
8446,All Monsters Attack,1969,movie,"['Adventure', 'Family', 'Fantasy']",3.9,4384.0,['Japan'],['Japanese'],"['Tomonori Yazaki', 'Hideyo Amamoto', 'Sachio ...","['Ishir√¥ Honda', 'Jun Fukuda', 'Kengo Furusawa']",['Kunio Miyauchi'],"[""Shin'ichi Sekizawa""]",NaN
8449,The Company,2003,movie,"['Drama', 'Music', 'Romance']",6.3,6501.0,"['United States', 'Germany', 'United Kingdom']",['English'],"['Neve Campbell', 'Malcolm McDowell', 'James F...",['Robert Altman'],['Van Dyke Parks'],"['Neve Campbell', 'Barbara Turner', 'Barbara T...",NaN
8450,Predator,1987,movie,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']",7.8,386850.0,"['United States', 'Mexico']","['English', 'Spanish', 'Russian']","['Arnold Schwarzenegger', 'Carl Weathers', 'El...",['John McTiernan'],['Alan Silvestri'],"['Jim Thomas', 'John Thomas']",NaN

In [54]:
movies["year"] == 1992

index
2        True
3       False
4       False
9       False
17      False
        ...
8444    False
8445    False
8446    False
8449    False
8450    False
Name: year, Length: 4995, dtype: bool

In [55]:
at92 = movies[movies["year"] == 1992]
at93 = movies[movies["year"] == 1993]
at94 = movies[movies["year"] == 1994]

In [59]:
post92 = movies[(movies["year"] > 1992) & (movies["rating"] > 9.0)]

,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
index,,,,,,,,,,,,,
563,The Shawshank Redemption,1994,movie,['Drama'],9.3,2461873.0,['United States'],['English'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",['Frank Darabont'],['Thomas Newman'],"['Stephen King', 'Frank Darabont']",77.0
604,Yanni: Live at the Acropolis,1994,movie,['Music'],9.3,410.0,"['United States', 'United Kingdom']",['English'],"['Yanni', 'Charlie Adams', 'Karen Briggs', 'Ri...",['George Veras'],['Yanni'],NaN,NaN
2251,Pride 25: Body Blow,2003,movie,['Sport'],9.3,8.0,['Japan'],"['English', 'Japanese']","['Fedor Emelianenko', 'Kei Grant', 'Lenne Hard...",NaN,NaN,NaN,106.0
5022,The Shawshank Redemption,1994,movie,['Drama'],9.3,2462087.0,['United States'],['English'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",['Frank Darabont'],['Thomas Newman'],"['Stephen King', 'Frank Darabont']",NaN

## Cleaning

We managed to create our dataframe that only include movies in the `movies` DataFrame object

As we might have noticed, there are missing values in our dataframe.

Missing values could potentially bias our results, or block certain methods from running.

We will talk about more formal methods of data cleaning throughout this phase, but for now, let us simply delete any row that contains a null value.

We could potentially ‚Äúfilter‚Äù our rows using our filters.

Filtering should be reserved for DataFrame subsetting. We will use built-in functions.

Conceptually however, we also want to filter out data that only has more than 30 votes (Central Limit Theorem)

This is to avoid the possibility that only one loyal fan rated a movie 10/10 when in reality most people will find this film unpalatable.

How can we achieve this?

In [23]:
movies.dropna(inplace=True)

movies_valid = movies[movies["vote"] > 30]
movies_valid

C:\Users\saidmf\AppData\Local\Temp\ipykernel_18240\366306571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
index,,,,,,,,,,,,,
3,What the #$*! Do We (K)now!?,2004,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.0
4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0
9,Seeta Aur Geeta,1972,movie,"['Adventure', 'Comedy', 'Drama', 'Family', 'Mu...",6.8,1818.0,['India'],['Hindi'],"['Dharmendra', 'Sanjeev Kumar', 'Hema Malini',...",['Ramesh Sippy'],['Rahul Dev Burman'],"['Javed Akhtar', 'Javed Akhtar', 'Satish Bhatn...",15.0
17,Zatoichi's Conspiracy,1973,movie,"['Action', 'Drama']",7.1,911.0,['Japan'],['Japanese'],"['Shintar√¥ Katsu', 'Yukiyo Toake', 'Eiji Okada...",['Kimiyoshi Yasuda'],['Akira Ifukube'],"['Yoshi Hattori', 'Kan Shimozawa']",92.0
20,TerrorVision,1986,movie,"['Comedy', 'Horror', 'Sci-Fi']",5.7,6778.0,"['United States', 'Italy']",['English'],"['Diane Franklin', 'Gerrit Graham', 'Mary Woro...",['Ted Nicolaou'],['Richard Band'],['Ted Nicolaou'],103.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7260,√Ä Nous la Libert√©,1931,movie,"['Comedy', 'Musical']",7.5,4333.0,['France'],['French'],"['Henri Marchand', 'Raymond Cordy', 'Rolla Fra...",['Ren√© Clair'],['Georges Auric'],['Ren√© Clair'],100.0
7261,Shade,2003,movie,"['Crime', 'Thriller']",6.3,12485.0,['United States'],['English'],"['Joe Nicolo', 'Carl Mazzocone Sr.', 'George T...",['Damian Nieman'],['James Johnzen'],['Damian Nieman'],106.0
7262,Nothing But Trouble,1991,movie,['Comedy'],5.1,23598.0,['United States'],['English'],"['Chevy Chase', 'Dan Aykroyd', 'John Candy', '...",['Dan Aykroyd'],['Michael Kamen'],"['Peter Aykroyd', 'Dan Aykroyd']",92.0
7263,The Whistle Blower,1986,movie,['Thriller'],6.2,2069.0,['United Kingdom'],"['English', 'Russian']","['Michael Caine', 'James Fox', 'Nigel Havers',...",['Simon Langton'],['John Scott'],"['Julian Bond', 'John Hale']",123.0
7266,SpaceCamp,1986,movie,"['Adventure', 'Family', 'Sci-Fi']",5.7,14679.0,['United States'],['English'],"['Kate Capshaw', 'Lea Thompson', 'Kelly Presto...",['Harry Winer'],['John Williams'],"['Clifford Green', 'Casey T. Mitchell', 'Patri...",107.0

## Builtins

Now that have our dataframe prepared & cleaned. How can I answer the following question?
Is the count of movies increasing or decreasing?

We will use our built pandas methods, namely `value_counts(‚Äúcolumn‚Äù)`

This function works by counting how many unique instances it views in the specified column, and creates a new dataframe detailing this.

You‚Äôll notice that our years is not sorted by default, so we will call another builtin function called `sort_index`which sorts our dataframe according to its index.

Just observing this dataframe is not sufficient to visualize our differences, so we will actually be using a builtin `plot()` method that will also generate a matplotlib line plot!

While we‚Äôve analyzed our DataFrame and answered our first pseudo-research-question, let‚Äôs move onto:
Did ratings of movies increase or decrease from 92 - 94?
Let‚Äôs bring back our DataFrames `at92`, `at93`, and `at94` and see if can get their means using the ‚Äúmean()‚Äù function

In [62]:
year_counts = movies.value_counts("year").sort_index()
year_counts.plot()

year
2001    329
2002    323
2003    312
2000    286
2004    269
       ...
1923      1
1919      1
1916      1
1914      1
1913      1
Length: 91, dtype: int64

In [44]:
at92.mean()

C:\Users\saidmf\AppData\Local\Temp\ipykernel_18240\2720093447.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  at92.mean()

year        1992.000000
rating         6.625532
vote       23466.723404
runtime      100.368421
dtype: float64

In [45]:
at92["rating"].mean()

6.625531914893619

In [46]:
at93["rating"].mean()

6.546218487394958

In [47]:
at94["rating"].mean()

6.627272727272728